{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<form method="POST">
    <h1 class="pageTitles">Log In</h1>
    <div class="form-group">
        <label for="email" class="prompt">Email Address</label>
        <input type="email" class="form-control in" id="email" name="email" placeholder="Enter Email">

        <label for="password1" class="prompt">Password</label>
        <input type="password" class="form-control in" id="password" name="password" placeholder="Enter Password">
        <br>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    
</form>
{%endblock%}